.about-us-container {
    font-family: 'Arial', sans-serif; /* Modern ve temiz bir font */
    color: #333; /* Karanlık bir font rengi */
    margin: 20px; /* Kenar boşluğu */
    padding: 20px; /* İç boşluk */
    text-align: center; /* Metinleri ortala */
  }
  
  .about-us-container h1 {
    font-family: 'Nova Square', sans-serif; /* Nova Square fontu */
    color: #000000; /* Başlık için siyah renk */
    margin-bottom: 16px; /* Başlık altındaki boşluk */
  }
  
  .about-us-container p {
    font-size: 16px; /* Paragraf font boyutu */
    line-height: 1.6; /* Satır aralığı */
    margin-bottom: 10px; /* Paragraflar arası boşluk */
  }
  
  .bold {
    font-weight: bold; /* Anahtar kelimeleri kalın yap */
  }
  
  .highlight {
    font-weight: bold; /* 'Rate Mate' için özel vurgu */
  }
  