.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  padding: 20px;
}

.overlay.info-visible{
  display: block;
  backdrop-filter: blur(10px);
  z-index: 11;
}